<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2016 Amasty (https://www.amasty.com)
 * @package Amasty_Ajaxlogin
 */
?>
<div class="am-login-forgotpassword">
    <form method="post" id="amajaxlogin-form-validate">
            <p><?php echo $this->__('Please enter your email address below.<br/> You will receive a link to reset your password.') ?></p>
            <div class="am-login-forgotpassword-form-list">
                <ul class="form-list">
                    <li>
                        <label for="email_address" class="required"><em>*</em><?php echo $this->__('Email Address') ?></label>
                        <div class="input-box">
                            <input type="text" name="email" alt="email" id="email_address" class="input-text required-entry validate-email" value="<?php echo $this->htmlEscape($this->getEmailValue()) ?>" />
                        </div>
                    </li>
                </ul>
            </div>
            <p class="required"><?php echo $this->__('* Required Fields') ?></p>
            <div class="am-login-button" onclick="AmAjaxLoginObj.forgotPasswordSend();"><span><span><?php echo $this->__('Submit') ?></span></span></div>
    </form>
</div>
