<?php 
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2016 Amasty (https://www.amasty.com)
 * @package Amasty_Ajaxlogin
 */  
?>


<style>
body {
    margin:0;
}
.am-facebook-image{
    color: #FFFFFF;
     height: 22px;
    padding: 10px 0 0 35px;
    text-align: center;
    width: 78px;
    background-repeat: no-repeat;
    background-position: top;
    background-image: url("<?php echo  Mage::getDesign()->getSkinUrl('images/amasty/amajaxlogin/facebook.png',array('_area'=>'frontend'))?>");
    cursor: pointer;  
    display: none;
    font: 12px/15px Arial,Helvetica,sans-serif;
}

.am-facebook-image:hover{
    background-position: bottom;
}
</style>


<div class="am-facebook-image" id="am-facebook-image" style="" onclick="window.parent.AmAjaxLoginObj.loginS(this);" data="<?php echo $this->getUrlParaml()?>">
    <?php echo  $this->__('Connect'); ?>
</div>
<div class="am-facebook-image" id="am-facebook-login" style="display: block" onclick="fb_login();">
    <?php echo  $this->__('Sign in'); ?>
</div>

<div id="am-facebook-login">
    <div id="fb-root"></div>
    <script>
    window.fbAsyncInit = function() {
        FB.init({
            appId   : '<?php echo Mage::helper('amajaxlogin/facebook')->getAppId()?>',
            oauth   : true,
            status  : true, // check login status
            cookie  : true, // enable cookies to allow the server to access the session
            xfbml   : true // parse XFBML
        });
        
        FB.getLoginStatus(function(response) {
            if (response.status === 'connected') {
                var facebook = document.getElementById('am-facebook-login');
                facebook.style.display = 'none'; //or

                var myfacebook = document.getElementById('am-facebook-image');
                myfacebook.style.display = 'block';
                         
                var uid = response.authResponse.userID;
                var accessToken = response.authResponse.accessToken;
            } else if (response.status === 'not_authorized') {
                var facebook = document.getElementById('am-facebook-login');
                facebook.style.display = 'block'; //or

                var myfacebook = document.getElementById('am-facebook-image');
                myfacebook.style.display = 'none';
            } else {
                var facebook = document.getElementById('am-facebook-login');
                facebook.style.display = 'block'; //or

                var myfacebook = document.getElementById('am-facebook-image');
                myfacebook.style.display = 'none';
            }
            });
        };
 
    function fb_login(){
        FB.login(function(response) {
            if (response.authResponse) {
                var facebook = document.getElementById('am-facebook-login');
                facebook.style.display = 'none'; //or
            
                var myfacebook = document.getElementById('am-facebook-image');
                 myfacebook.style.display = 'block';
            
                FB.api('/me', function(response) {
                    window.parent.AmAjaxLoginObj.loginS(document.getElementById('am-facebook-image'));
                    user_email = response.email; //get user email
                });

            } else {
                console.log('User cancelled login or did not fully authorize.');
            }
        }, {
            scope: 'email,public_profile'
        });
    }
    
    (function() {
        var e = document.createElement('script');
        e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
        e.async = true;
        document.getElementById('fb-root').appendChild(e);
    }());
    </script>
</div>
 
